
<!DOCTYPE html>
<html lang="en">
<head>  
    <title>Shop</title>
    <link rel="stylesheet" href="./shop.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="head1">
        <nav class="home1"> 
          <div class="hide"><i class="fa-solid fa-bars"></i></div> 
            <img class="logo1" src="./title/logo.jpg" alt="">
            <ul class="ul11">
                <li><a class="its1" href="../../mens.html"> Home<i class="helo6 fa-solid fa-caret-down"></i> </a></li>
                <li><a class="its11" href="./shop.html"> Shop<i class="helo7 fa-solid fa-caret-down"></i><button class="new1"><h6>New</h6></button></a></li>
                <li>  <a class="its21" href="../categories//categories.html"> Categories <i class="helo8 fa-solid fa-caret-down"></i><button class="hot1"><h6>Hot</h6></button></a></li>
                <li><a class="its31" href="../product//product.html"> Product<i class="helo9 fa-solid fa-caret-down"></i></a></li>
                <li><a class="its41" href="../blog/blog.html"> Blog<i class="helo10 fa-solid fa-caret-down"></i></a></li>
                <li><a class="its41" href="../contact//contact.html"> Pages<i class="helo11 fa-solid fa-caret-down"></i></a></li>

            </ul>
            <div class="signup1"> 
                <a class="inr1" href="">IN (INR <i class="fa-solid fa-indian-rupee-sign"></i>)<i class="fa-solid fa-caret-down"></i></a>
                <a id="contact" href=""><i class="fa-solid fa-magnifying-glass"></i></a>
                <a class="acc1" href=""> <i class="fa-regular fa-user"></i></a>
                <a class="cart1" href=""> <i class="fa-solid fa-cart-shopping"></i></a>
                </div>        
        </nav>
    </div>

<div class="product">
    <div class="prdmain">
        <h1>Products</h1>
        <ul>
            <li><a class="hm" href="">Home</a></li>
            <li>></li>
            <li class="prd">Products</li>
        </ul>
    </div>
</div>
<div class="filter">
  <button><i class="fa-solid fa-bars"></i>Filter</button>
</div>

   <div class="fle">
      <div class="main2">
          <div class="catmain">
           <div class="categories"><h2>Categories</h2></div>
           <div class="catlist">
               <a href="">Accessories(22)</a>
               <a href="">Baby(10)</a>
               <a href="">Baby (T-shirt)(3)</a>
               <a href="">Best Selling(68)</a>
               <a href="">Best Selling( Jewelry)(7)</a>
               <a href="">Bracelts(1)</a>
               <a href="">Brooches and Pins(2)</a>
               <a href="">Cap(2)</a>
               <a href="">Diamond(6)</a>
               <a href="">Earphone(2)</a>
               <a href="">Earring(1)</a>
               <a href="">Featured (Electronics)(7)</a>
               <a href="">Featured (Fashion)(12)</a>
               <a href="">Featured (Jewlery)(13)</a>
               <a href="">Featured (T-shirt)(9)</a>
               <a href="">festured product(68)</a>
               <a href="">Footwear(16)</a>
               <a href="">Gold(8)</a>
               <a href="">Headphone(3)</a>
               <a href="">Kid (t-shirt)(1)</a>
               <a href="">Men(14)</a>
               <a href="">Kid (9)</a>
               <a href="">Men (t-shirt)(3)</a>
               <a href="">Kid (t-shirt)(3)</a>
               <a href="">Necklaces(3)</a>
               <a href="">New (Fashion)(17)</a>
               <a href="">New arrivals(68)</a>
               <a href="">New Arrivals (Electronics)(6)</a>
               <a href="">On-Selling (Jewlery)(4)</a>
               <a href="">Rings(5)</a>
               <a href="">Sale(37)</a>
               <a href="">Silver(9)</a>
               <a href="">Smartphone(1)</a>
               <a href="">Smartwatch(13)</a>
               <a href="">Summer Style(30)</a>
               <a href="">TOp Rated(16)</a>
               <a href="">TOp Rated (Jewelry)(7)</a>
               <a href="">Trending(6)</a>
               <a href="">Winter Fashion(6)</a>
               <a href="">Women(20)</a>
               <a href="">Women (t-shirt)(13)</a>
       
       
            </div>    
         </div>
          
           <div class="catmain2">
               <div class="availability" ><h2>Availability</h2></div>
               <div class="catlist2">
                  
                  <div> 
                    <input  type="checkbox">
                    <label for="">In Stock(64)</label>
                 </div>
                  <div>
                    <input type="checkbox">
                   <label for="">Out of stock(8)</label>
               </div>
       
               
                  
               </div>
           </div>
       
           <div class="catmain3">
               <div class="color" ><h2>Color</h2></div>
               <div class="catlist3">
                  
                  <div> 
                    <input  type="checkbox">
                    <label for="">black(12)</label>
                 </div>
                  <div>
                    <input type="checkbox">
                   <label for="">blue(8)</label>
               </div>
               <div>
                   <input type="checkbox">
                  <label for="">gold(19)</label>
              </div>
              <div>
                 <input type="checkbox">
                <label for="">gray(19)</label>
            </div>
             <div>
                <input type="checkbox">
              <label for="">green(21)</label>
           </div>
           <div>
               <input type="checkbox">
               <label for="">magenta(14)</label>
           </div>
           <div>
               <input type="checkbox">
              <label for="">maroon(14)</label>
          </div>
          <div>
           <input type="checkbox">
          <label for="">navy(14)</label>
       </div>
       <div>
           <input type="checkbox">
          <label for="">orange(6)</label>
       </div>
       <div>
           <input type="checkbox">
          <label for="">pink(12)</label>
       </div>
       <div>
           <input type="checkbox">
          <label for="">purple(12)</label>
       </div>
       <div>
           <input type="checkbox">
          <label for="">red(21)</label>
       </div>
       <div>
           <input type="checkbox">
          <label for="">violet(12)</label>
       </div>
       <div>
           <input type="checkbox">
          <label for="">white(20)</label>
       </div>
       <div>
           <input type="checkbox">
          <label for="">yellow(14)</label>
       </div>
       
            </div>
        </div>
       
           <div class="catmain4">
               <div class="size" ><h2>Size</h2></div>
               <div class="catlist4">
                  
                  <div> 
                    <input  type="checkbox">
                    <label for="">s(25)</label>
                 </div>
                  <div>
                    <input type="checkbox">
                   <label for="">m(33)</label>
               </div>
               <div>
                   <input type="checkbox">
                  <label for="">l(33)</label>
              </div>
              <div>
                 <input type="checkbox">
                <label for="">xl(29)</label>
            </div>
             <div>
                <input type="checkbox">
                <label for="">xxl(14)</label>
             </div>    
               </div>
               </div>      
               
               <div class="catmain5">
                   <div class="material" ><h2>Material</h2></div>
                   <div class="catlist5">
                      
                      <div> 
                        <input  type="checkbox">
                        <label for="">fiber(6)</label>
                     </div>
                      <div>
                        <input type="checkbox">
                       <label for="">leather(6)</label>
                   </div>
                   <div>
                       <input type="checkbox">
                      <label for="">metal(6)</label>
                  </div>
                  <div>
                     <input type="checkbox">
                    <label for="">resin(6)</label>
                </div>
                 <div>
                    <input type="checkbox">
                    <label for="">slag(6)</label>
                 </div>    
                   </div>
                   </div>
       
       
                   <div class="catmain6">
                       <div class="type" ><h2>Product Type</h2></div>
                       <div class="catlist6">
                          
                          <div> 
                            <input  type="checkbox">
                            <label for="">Type A(9)</label>
                         </div>
                          <div>
                            <input type="checkbox">
                           <label for="">Type B(8)</label>
                       </div>
                       <div>
                           <input type="checkbox">
                          <label for="">Type C(6)</label>
                      </div>
                      <div>
                         <input type="checkbox">
                        <label for="">Type D(4)</label>
                    </div>
                     <div>
                        <input type="checkbox">
                        <label for="">Type E(7)</label>
                     </div>
                     <div>
                       <input type="checkbox">
                       <label for="">Type F(4)</label>
                    </div>   
                    <div>
                       <input type="checkbox">
                       <label for="">Type G(3)</label>
                    </div> 
                    <div>
                       <input type="checkbox">
                       <label for="">Type H(5)</label>
                    </div>
                    <div>
                       <input type="checkbox">
                       <label for="">Type I(6)</label>
                    </div>
                    <div>
                       <input type="checkbox">
                       <label for="">Type j(6)</label>
                    </div>
                    <div>
                       <input type="checkbox">
                       <label for="">Type k(6)</label>
                    </div>
                    <div>
                       <input type="checkbox">
                       <label for="">Type l(3)</label>
                    </div>
                       </div>
                       </div>
                   
                       <div class="catmain7">
                           <div class="brand" ><h2>Brand</h2></div>
                           <div class="catlist7">
                              
                              <div> 
                                <input  type="checkbox">
                                <label for="">Minimalin(1)</label>
                             </div>
                              <div>
                                <input type="checkbox">
                               <label for="">Vendor A(9)</label>
                           </div>
                           <div>
                               <input type="checkbox">
                              <label for="">Vendor  B(8)</label>
                          </div>
                          <div>
                             <input type="checkbox">
                            <label for="">Vendor C(6)</label>
                        </div>
                         <div>
                            <input type="checkbox">
                            <label for="">Vendor D(4)</label>
                         </div>
                         <div>
                           <input type="checkbox">
                           <label for="">Vendor E(7)</label>
                        </div>   
                        <div>
                           <input type="checkbox">
                           <label for="">Vendor F(4)</label>
                        </div> 
                        <div>
                           <input type="checkbox">
                           <label for="">Vendor G(3)</label>
                        </div>
                        <div>
                           <input type="checkbox">
                           <label for="">Vendor H(5)</label>
                        </div>
                        <div>
                           <input type="checkbox">
                           <label for="">Vendor I(6)</label>
                        </div>   
                        <div>
                           <input type="checkbox">
                           <label for="">Vendor J(6)</label>
                        </div> 
                        <div>
                           <input type="checkbox">
                           <label for="">Vendor K(6)</label>
                        </div>
                        <div>
                           <input type="checkbox">
                           <label for="">Vendor L(3)</label>
                        </div>
                           </div>
                           </div>
           
       
       
       </div>
       <div class="main3">
              
               
       
       
        <div class="top">
           <div class="con">
            <a class="gr" href=""><i class="fa-solid fa-table-cells-large"></i></a> 
           <a class="lt"><i class="fa-solid fa-list"></i></a>
           </div>
           <div>
            <button class="alp">Alphabetically,A-Z</button>
           </div>
           <div class="re">
            <h3 class="sho">Showing 1-15 of 68 result</h3>
           </div>
        </div>
        <div class="re1">
          <h3 class="sho">Showing 1-15 of 68 result</h3>
         </div>
        <div class="imp">
           
           <div class="hove1">
             <div class="i1">
               <img class="pr1" src="../../background/prd5.jpg" alt="">
               <div class="rat1"><p class="pa1">A .Stylish Sunglass</p>
                 <div class="de1">  <del>Rs.11000.00</del><span class="rup1"> Rs.9300.00</span></div>
                
               </div>    
               <div class="col">
                 <button class="color1"></button>
                 <button class="color2"></button>
                 <button class="color3"></button>
                 <button class="color4"></button>
                 <button class="color5">+1</button>
               </div>
               <div class="of1.1">  <button class="of1">-15%</button></div>
            </div>
               <div class="coi">
                 <img class="dres1" src="../../background/prd5.5.jpg" alt="">
                 <div class="cas">
                   <button class="ic1"><i class="fa-solid fa-eye"></i></button>
                   <button class="ic2"><i class="fa-solid fa-cart-shopping"></i></button>
                   <button class="ic3"><i class="fa-regular fa-heart"></i></button>
                   <button class="ic4"><i class="fa-solid fa-arrow-right-arrow-left"></i></button>
                 </div>
   
               </div>
   
           </div>
               
   
            <div class="hove2">
             <div class="i2">
               <img class="pr2" src="../../background/prd18.18.jpg" alt="">
               <button class="of2">New</button>
               <div class="rat2"><p class="pa2">Aa .men coat</p>
                 <div class="de2"> <p class="rup2">Rs.3300.00</p></div>
               </div>
               <!-- <div class="colr2">
                 <button class="colors6"></button>
                 <button class="colors7"></button>
                 <button class="colors8"></button>
                 <button class="colors9"></button>
                 <button class="colors10">+1</button>
               </div> -->
            </div>
            <div class="coi2">
             <img class="dres2" src="../../background/prd18.jpg" alt="">
             <div class="cas2">
               <button class="ic5"><i class="fa-solid fa-eye"></i></button>
               <button class="ic6"><i class="fa-solid fa-cart-shopping"></i></button>
               <button class="ic7"><i class="fa-regular fa-heart"></i></button>
               <button class="ic8"><i class="fa-solid fa-arrow-right-arrow-left"></i></button>
             </div>
   
           </div>
   
   
   
            </div>
   
             <div  class="hove3">
               <div class="i3">
                 <img class="pr3" src="../../background/prd2.jpg" alt="">
                 <button class="of3">New</button>
                 <div class="rat3"><p class="pa3">B. Pair of Blue Shoes</p>
                   <div class="de3"><del>Rs.6800.00</del><span class="rup3">Rs.4700.00</span></div>
                 </div>
                 <div class="col3">
                   <button class="color11"></button>
                   <button class="color12"></button>
                   <button class="color13"></button>
                   <button class="color9"></button>
                   <button class="color10">+1</button>
                 </div>
              </div>
              <div class="coi3">
               <img class="dres3" src="../../background/prd2.2.jpg" alt="">
               <div class="cas3">
                 <button class="ic9"><i class="fa-solid fa-eye"></i></button>
                 <button class="ic10"><i class="fa-solid fa-cart-shopping"></i></button>
                 <button class="ic11"><i class="fa-regular fa-heart"></i></button>
                 <button class="ic12"><i class="fa-solid fa-arrow-right-arrow-left"></i></button>
               </div>
     
             </div>
              
             </div>
         <div  class="hove4" >
           <div class="i4">
             <img class="pr4" src="../../background/prd19.jpg" alt="">
             
             <div class="rat4"><p class="pa4">Ba . Diamond Ring</p>
              <div class="de4"> <p class="rup4">Rs.2800.00</p></div>
             </div>
          </div>
          <div class="coi4">
           <img class="dres4" src="../../background/prd19.19.jpg" alt="">
           <div class="cas4">
             <button class="ic13"><i class="fa-solid fa-eye"></i></button>
             <button class="ic14"><i class="fa-solid fa-cart-shopping"></i></button>
             <button class="ic15"><i class="fa-regular fa-heart"></i></button>
             <button class="ic16"><i class="fa-solid fa-arrow-right-arrow-left"></i></button>
           </div>
   
         </div>
         </div>
   
         <div class="hove5">
           <div class="i5">
             <img class="pr5" src="../../background/prd20.jpg" alt="">
             <!-- <button class="off5">-15%</button> -->
             <div class="rat5"><p class="pa5" >Bb . Smart Headphone</p>
               <div class="de5"> <span class="rup5">Rs.3300.00</span></div>
             </div>
             <div class="col5">
               <button class="color14"></button>
               <button class="color15"></button>
               <button class="color16"></button>
               <button class="color17"></button>
               <button class="color18">+1</button>
             </div>
          </div>
          <div class="coi5">
           <img class="dres5" src="../../background/prd20.20.jpg" alt="">
           <div class="cas5">
             <button class="ic17"><i class="fa-solid fa-eye"></i></button>
             <button class="ic18"><i class="fa-solid fa-cart-shopping"></i></button>
             <button class="ic19"><i class="fa-regular fa-heart"></i></button>
             <button class="ic20"><i class="fa-solid fa-arrow-right-arrow-left"></i></button>
           </div>
   
         </div>
   
         </div>
   
        <div class="hove6">
         <div class="i6">
           <img class="pr6" src="../../background/prd21.jpg" alt="">
           <button class="of6">-18%</button>
           <div class="rat6"><p class="pa6">C . Fashionable Purse Bag</p>
              <div class="de6"><del>Rs.7200.00</del><span class="rup6">Rs.5900.00</span></div>
           </div>
           <div class="col6">
             <button class="color19"></button>
             <button class="color20"></button>
             <button class="color21"></button>
             <button class="color22"></button>
             <button class="color23">+1</button>
           </div>
        </div>
        <div class="coi6">
         <img class="dres6" src="../../background/prd21.21.jpg" alt="">
         <div class="cas6">
           <button class="ic21"><i class="fa-solid fa-eye"></i></button>
           <button class="ic22"><i class="fa-solid fa-cart-shopping"></i></button>
           <button class="ic23"><i class="fa-regular fa-heart"></i></button>
           <button class="ic24"><i class="fa-solid fa-arrow-right-arrow-left"></i></button>
         </div>
   
       </div>
   
        </div>
   
      <div class="hove7"> 
       <div class="i7">
         <img class="pr7" src="../../background/prd15.jpg" alt="">
         <div class="rat7"><p class="pa7">Ca . Long T-shirt for Summer</p>
           <div class="de7"> <del>Rs.11000.00</del><span class="rup7">Rs.9300.00</span></div>
         </div>
         <div class="col7">
            <button class="color24"></button>
            <button class="color25"></button>
            <button class="color26"></button>
            <button class="color27"></button>
            <button class="color28">+1</button>
          </div>
      </div>
      <div class="coi7">
       <img class="dres7" src="../../background/prd15.15.jpg" alt="">
       <div class="cas7">
         <button class="ic25"><i class="fa-solid fa-eye"></i></button>
         <button class="ic26"><i class="fa-solid fa-cart-shopping"></i></button>
         <button class="ic27"><i class="fa-regular fa-heart"></i></button>
         <button class="ic28"><i class="fa-solid fa-arrow-right-arrow-left"></i></button>
       </div>
   
     </div>
      </div> 
   
     <div class="hove8"> 
     <div class="i8">
       <img class="pr8" src="../../background/prd17.jpg" alt="">
       <button class="of8">-11%</button>
       <div class="rat8"><p class="pa8">Cb . M9 Bluetooth Earphone</p>
          <div class="de8"><del>Rs.1800.00</del><span class="rup8">Rs.1600.00</span></div>
       </div>
       <div class="col8">
        <button class="color29"></button>
        <button class="color30"></button>
        <button class="color31"></button>
        <button class="color32"></button>
        <button class="color322">+1</button>
      </div>
     </div>
     <div class="coi8">
       <img class="dres8" src="../../background/prd17.17.jpg" alt="">
       <div class="cas8">
         <button class="ic29"><i class="fa-solid fa-eye"></i></button>
         <button class="ic30"><i class="fa-solid fa-cart-shopping"></i></button>
         <button class="ic31"><i class="fa-regular fa-heart"></i></button>
         <button class="ic32"><i class="fa-solid fa-arrow-right-arrow-left"></i></button>
       </div>
   
     </div>
     </div>
           
      <div class="hove9">
        <div class="i9">
          <img class="pr9" src="../../background/prd8.jpg" alt="">
          <div class="rat9"><p class="pa9">D . Fashionable Hat</p>
            <div class="de9">  <del>Rs.3300.00</del><span class="rup9"> Rs.2800.00</span></div>
           
          </div>    
          <!-- <div class="col9">
            <button class="color33"></button>
            <button class="color34"></button>
            <button class="color35"></button>
            <button class="color36"></button>
            <button class="color37">+1</button>
          </div> -->
          <div class="of9.9">  <button class="of9">sold out</button></div>
       </div>
          <div class="coi9">
            <img class="dres9" src="../../background/prd8.8.jpg" alt="">
            <div class="cas9">
              <button class="ic33"><i class="fa-solid fa-eye"></i></button>
              <button class="ic34"><i class="fa-solid fa-cart-shopping"></i></button>
              <button class="ic35"><i class="fa-regular fa-heart"></i></button>
              <button class="ic36"><i class="fa-solid fa-arrow-right-arrow-left"></i></button>
            </div>

          </div>

      </div>
          

       <div class="hove10">
        <div class="i10">
          <img class="pr10" src="../../background/prd22.jpg" alt="">
          <button class="of10">New</button>
          <div class="rat10"><p class="pa10">Da . Cosme Disc Topcap Cosmetic</p>
            <div class="de10"> <p class="rup10">Rs.3300.00</p></div>
          </div>
          <div class="col10">
            <button class="color38"></button>
            <button class="color39"></button>
            <button class="color40"></button>
            <button class="color41"></button>
            <button class="color42">+1</button>
          </div>
       </div>
       <div class="coi10">
        <img class="dres10" src="../../background/prd22.22.jpg" alt="">
        <div class="cas10">
          <button class="ic37"><i class="fa-solid fa-eye"></i></button>
          <button class="ic38"><i class="fa-solid fa-cart-shopping"></i></button>
          <button class="ic39"><i class="fa-regular fa-heart"></i></button>
          <button class="ic40"><i class="fa-solid fa-arrow-right-arrow-left"></i></button>
        </div>

      </div>



       </div>

        <div class="hove11">
          <div class="i11">
            <img class="pr11" src="../../background/prd7.jpg" alt="">
            <button class="of11">New</button>
            <div class="rat11"><p class="pa11">E. Casual Comfort T-shirt</p>
              <div class="de11"><span class="rup11">Rs.3300.00</span></div>
            </div>
          
         </div>
         <div class="coi11">
          <img class="dres11" src="../../background/prd7.7.jpg" alt="">
          <div class="cas11">
            <button class="ic41"><i class="fa-solid fa-eye"></i></button>
            <button class="ic42"><i class="fa-solid fa-cart-shopping"></i></button>
            <button class="ic43"><i class="fa-regular fa-heart"></i></button>
            <button class="ic44"><i class="fa-solid fa-arrow-right-arrow-left"></i></button>
          </div>

        </div>
         
        </div>
       
    <div class="hove12">
      <div class="i12">
        <img class="pr12" src="../../background/prd23.jpg" alt="">
        
        <div class="rat12"><p class="pa12">Ea . V92 Ultra Pro Max</p>
         <div class="de12"><del>11000.00</del><span class="rup12">Rs.9300.00</span></div>
        </div>
        <div class="col11">
          <button class="color43"></button>
          <button class="color44"></button>
          <button class="color45"></button>
          <button class="color46"></button>
          <button class="color47">+1</button>
        </div>
     </div>
     <div class="coi12">
      <img class="dres12" src="../../background/prd23.23.jpg" alt="">
      <div class="cas12">
        <button class="ic45"><i class="fa-solid fa-eye"></i></button>
        <button class="ic46"><i class="fa-solid fa-cart-shopping"></i></button>
        <button class="ic47"><i class="fa-regular fa-heart"></i></button>
        <button class="ic48"><i class="fa-solid fa-arrow-right-arrow-left"></i></button>
      </div>

    </div>
    </div>

    <div class="hove13">
      <div class="i13">
        <img class="pr13" src="../../background/prd3.jpg" alt="">
        <button class="of13">-27%</button>
        <div class="rat13"><p class="pa5" >F. Ultimate Smart Watch</p>
          <div class="de13"><del>Rs.6400.00</del> <span class="rup13">Rs.4700.00</span></div>
        </div>
        <div class="col13">
          <button class="color48"></button>
          <button class="color49"></button>
          <button class="color50"></button>
          <!-- <button class="color51"></button> -->
          <!-- <button class="color52">+1</button> -->
        </div>
     </div>
     <div class="coi13">
      <img class="dres13" src="../../background/prd3.3.jpg" alt="">
      <div class="cas13">
        <button class="ic49"><i class="fa-solid fa-eye"></i></button>
        <button class="ic50"><i class="fa-solid fa-cart-shopping"></i></button>
        <button class="ic51"><i class="fa-regular fa-heart"></i></button>
        <button class="ic52"><i class="fa-solid fa-arrow-right-arrow-left"></i></button>
      </div>

    </div>

    </div>

   <div class="hove14">
    <div class="i14">
      <img class="pr14" src="../../background/prd24.jpg" alt="">
      <!-- <button class="of14">-18%</button> -->
      <div class="rat14"><p class="pa14">G. Baby Tops</p>
         <div class="de14"><span class="rup14">Rs.2800.00</span></div>
      </div>
      <!-- <div class="col14">
        <button class="color53"></button>
        <button class="color54"></button>
        <button class="color55"></button>
        <button class="color56"></button>
        <button class="color57">+1</button>
      </div> -->
   </div>
   <div class="coi14">
    <img class="dres14" src="../../background/prd24.24.jpg" alt="">
    <div class="cas14">
      <button class="ic53"><i class="fa-solid fa-eye"></i></button>
      <button class="ic54"><i class="fa-solid fa-cart-shopping"></i></button>
      <button class="ic55"><i class="fa-regular fa-heart"></i></button>
      <button class="ic56"><i class="fa-solid fa-arrow-right-arrow-left"></i></button>
    </div>

  </div>

   </div>

 <div class="hove15"> 
  <div class="i15">
    <img class="pr15" src="../../background/prd12.jpg" alt="">
    <button class="of15">-35%</button>
    <div class="rat15"><p class="pa15">H. Women High Heel</p>
      <div class="de15"> <del>Rs.5100.00</del><span class="rup15">Rs.3300.00</span></div>
    </div>
    <div class="col15">
       <button class="color58"></button>
       <button class="color59"></button>
       <button class="color60"></button>
       <button class="color61"></button>
       <button class="color62">+1</button>
     </div>
 </div>
 <div class="coi15">
  <img class="dres15" src="../../background/prd12.12.jpg" alt="">
  <div class="cas15">
    <button class="ic57"><i class="fa-solid fa-eye"></i></button>
    <button class="ic58"><i class="fa-solid fa-cart-shopping"></i></button>
    <button class="ic59"><i class="fa-regular fa-heart"></i></button>
    <button class="ic60"><i class="fa-solid fa-arrow-right-arrow-left"></i></button>
  </div>

</div>
 </div> 
    </div>   
   
            </div>
       </div>
       
       
        

        <div class="details2">
          <div class="details22">
            <div class="aboutus2">
              <h2 class="us2">About Us.</h2>
              <p class="mini2"> Minimal E-Commerce is a dynamic and innovative online retail platform that offers a wide range of products to customers worldwide.</p>
              <div class="ic110">
                <p class="ic111"><i class="fa-brands fa-facebook-f"></i></p>
                <p class="ic211"><i class="fa-brands fa-twitter"></i> </p>
                <p class="ic311"> <i class="fa-brands fa-youtube"></i></p>
                <p class="ic411"><i class="fa-brands fa-instagram"></i></p>
                <p class="ic511"> <i class="fa-brands fa-tiktok"></i></p>
              </div>
              <p class="safe2">Guranted safe checkout</p>
              <div>
                <img class="amz1" src="https://minimalin-demo.myshopify.com/cdn/shopifycloud/shopify/assets/payment_icons/amazon-92e856f82cae5a564cd0f70457f11af4d58fa037cf6e5ab7adf76f6fd3b9cafe.svg" alt="">
                <img class="amz1" src="https://minimalin-demo.myshopify.com/cdn/shopifycloud/shopify/assets/payment_icons/apple_pay-f6db0077dc7c325b436ecbdcf254239100b35b70b1663bc7523d7c424901fa09.svg" alt="">
                <img class="amz1" src="https://minimalin-demo.myshopify.com/cdn/shopifycloud/shopify/assets/payment_icons/bitcoin-e41278677541fc32b8d2e7fa41e61aaab2935151a6048a1d8d341162f5b93a0a.svg" alt="">
                <img class="amz1" src="https://minimalin-demo.myshopify.com/cdn/shopifycloud/shopify/assets/payment_icons/google_pay-c66a29c63facf2053bf69352982c958e9675cabea4f2f7ccec08d169d1856b31.svg" alt="">
                <img class="amz1" src="https://minimalin-demo.myshopify.com/cdn/shopifycloud/shopify/assets/payment_icons/paypal-49e4c1e03244b6d2de0d270ca0d22dd15da6e92cc7266e93eb43762df5aa355d.svg" alt="">
                <img class="amz1" src="https://minimalin-demo.myshopify.com/cdn/shopifycloud/shopify/assets/payment_icons/visa-319d545c6fd255c9aad5eeaad21fd6f7f7b4fdbdb1a35ce83b89cca12a187f00.svg" alt="">
              </div>
            </div>
            <div class="cont2">
              <div class="quickmain2" >
               <div class="qq">
                <h3>Quick link </h3>
                <div class="arr">
                  <i class="fa-solid fa-chevron-down"></i>

                </div>      
               </div>

                <ul class="link2">
                  <li>My Account</li>
                  <li>My Cart</li>
                  <li>Wishlist</li>
                  <li>Gift Cart</li>
                  <li>Need Help?</li>
                </ul>
              </div>
              <div class="infomain2">
              <div class="qq">
                <h3>Information</h3>
                <div class="arr">
                  <i class="fa-solid fa-chevron-down"></i>

                </div>
              </div>
                <ul class="link2">
                  <li>About Us</li>
                  <li>Contact</li>
                  <li>Blog</li>
                  <li>Size Chart</li>
                  <li>FAQ</li>
                </ul>
              </div>
              <div class="polimain2">
               <div class="qq">
                <h3>Polices</h3>
                <div class="arr">
                  <i class="fa-solid fa-chevron-down"></i>

                </div>
               </div>
                <ul class="link2">
                  <li>Privacy Policies</li>
                  <li>Refund Policy</li>
                  <li>Terms of Service</li>
                  <li>Shipping Policy</li>
                  <li>Contact Information</li>
                </ul>
              </div>
            </div>
        
        
          </div>
        
        </div>


</body>
</html>
