<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>categories</title>
    <link rel="stylesheet" href="./cat.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="head2">
        <nav class="home2">  
            <div class="hide"><i class="fa-solid fa-bars"></i></div>
            <img class="logo2" src="./logo/logo.jpg" alt="">
            <ul class="ul12">
                <li><a class="its2" href="../../mens.html"> Home<i class="helo12 fa-solid fa-caret-down"></i> </a></li>
                <li><a class="its12" href="../shop/shop.html"> Shop<i class="helo13 fa-solid fa-caret-down"></i><button class="new2"><h6>New</h6></button></a></li>
                <li>  <a class="its22" href="../categories/categories.html"> Categories <i class="helo14 fa-solid fa-caret-down"></i><button class="hot2"><h6>Hot</h6></button></a></li>
                <li><a class="its32" href="../product/product.html"> Product<i class="helo15 fa-solid fa-caret-down"></i></a></li>
                <li><a class="its42" href="../blog//blog.html"> Blog<i class="helo16 fa-solid fa-caret-down"></i></a></li>
                <li><a class="its42" href="../contact/contact.html"> Pages<i class="helo17 fa-solid fa-caret-down"></i></a></li>

            </ul>
            <div class="signup2"> 
                <a class="inr2" href="">IN (INR <i class="fa-solid fa-indian-rupee-sign"></i>)<i class="fa-solid fa-caret-down"></i></a>
                <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
                <a class="acc2" href=""> <i class="fa-regular fa-user"></i></a>
                <a class="cart2" href=""> <i class="fa-solid fa-cart-shopping"></i></a>
                </div>        
        </nav>

    </div>

    <div class="product2">
        <div class="prdmain2">
            <h1>Collections</h1>
            <ul>
                <li><a class="hm2" href="">Home</a></li>
                <li>></li>
                <li class="prd2">Collections</li>
            </ul>
        </div>
    </div>

    <div class="collmain">
        <div class="coln1">
            <img class="imgc1" src="../../collection/coln1.jpg" alt="">
            <div class="line">
                <a class="acs" href="">Accessories</a>
                <p>(22 items)</p>
            </div>
        </div>
        <div class="coln2">
            <img class="imgc2" src="../../collection/coln2.jpg" alt="">
            <div class="line2">
                <a class="acs2" href="">Baby</a>
                <p>(10 items)</p>
            </div>
        </div>
        <div class="coln3">
            <img class="imgc3" src="../../collection/coln3.jpg" alt="">
            <div class="line3">
                <a class="acs3" href="">Baby (T-shirt)</a>
                <p>(3 items)</p>
            </div>
        </div>
      
        <div class="coln4">
            <img class="imgc4" src="../../collection/coln4.jpg" alt="">
            <div class="line4">
                <a class="acs4" href="">Best Selling</a>
                <p>(68 items)</p>
            </div>
        </div>
        <div class="coln5">
            <img class="imgc5" src="../../collection/coln5.jpg" alt="">
            <div class="line5">
                <a class="acs5" href="">Best-Selling (Jewelry)</a>
                <p>(7 items)</p>
            </div>
        </div>
        <div class="coln6">
            <img class="imgc6" src="../../collection/coln6.jpg" alt="">
            <div class="line6">
                <a class="acs6" href="">Bracelets</a>
                <p>(1 items)</p>
            </div>
        </div>
        <div class="coln7">
            <img class="imgc7" src="../../collection/coln7.jpg" alt="">
            <div class="line7">
                <a class="acs7" href="">Brooches and Pins</a>
                <p>(2 items)</p>
            </div>
        </div>
        <div class="coln8">
            <img class="imgc8" src="../../collection/coln8.jpg" alt="">
            <div class="line8">
                <a class="acs8" href="">Cap</a>
                <p>(2 items)</p>
            </div>
        </div>
        <div class="coln9">
            <img class="imgc9" src="../../collection/coln9.jpg" alt="">
            <div class="line9">
                <a class="acs9" href="">Diamond</a>
                <p>(6 items)</p>
            </div>
        </div>
        <div class="coln10">
            <img class="imgc10" src="../../collection/coln10.jpg" alt="">
            <div class="line10">
                <a class="acs10" href="">Earphone</a>
                <p>(2 items)</p>
            </div>
        </div>
        <div class="coln11">
            <img class="imgc11" src="https://minimalin-demo.myshopify.com/cdn/shop/collections/collection-banner_23_600x.png?v=1693503273" alt="">
            <div class="line11">
                <a class="acs11" href="">Earing</a>
                <p>(1 items)</p>
            </div>
        </div>
      
        <div class="coln12">
            <img class="imgc12" src="https://minimalin-demo.myshopify.com/cdn/shop/files/e1_22_600x.png?v=1708945190" alt="">
            <div class="line12">
                <a class="acs12" href="">Featured (Electronics)</a>
                <p>(7 items)</p>
            </div>
        </div>
        <div class="coln13">
            <img class="imgc13" src="https://minimalin-demo.myshopify.com/cdn/shop/files/watch_600x.png?v=1692459788" alt="">
            <div class="line13">
                <a class="acs13" href="">Featured (Fashion)</a>
                <p>(12 items)</p>
            </div>
        </div>
        <div class="coln14">
            <img class="imgc14" src="https://minimalin-demo.myshopify.com/cdn/shop/files/silver-earring_6_600x.png?v=1693673686" alt="">
            <div class="line14">
                <a class="acs14" href="">Featured (Jewelry)</a>
                <p>(13 items)</p>
            </div>
        </div>
        <div class="coln15">
            <img class="imgc15" src="https://minimalin-demo.myshopify.com/cdn/shop/collections/collection-banner-_33_600x.png?v=1697903174" alt="">
            <div class="line15">
                <a class="acs15" href="">Featured (T Shirt)</a>
                <p>(9 items)</p>
            </div>
        </div>
        <div class="coln16">
            <img class="imgc16" src="https://minimalin-demo.myshopify.com/cdn/shop/collections/collection-banner_12_600x.png?v=1692615909" alt="">
            <div class="line16">
                <a class="acs16" href="">Featured Product</a>
                <p>(68 items)</p>
            </div>
        </div>
        <div class="coln17">
            <img class="imgc17" src="https://minimalin-demo.myshopify.com/cdn/shop/collections/collection-banner_20_600x.png?v=1692620463" alt="">
            <div class="line17">
                <a class="acs17" href="">Footwear</a>
                <p>(16 items)</p>
            </div>
        </div>
        <div class="coln18">
            <img class="imgc18" src="https://minimalin-demo.myshopify.com/cdn/shop/files/hoop-earring_1_600x.png?v=1693589955" alt="">
            <div class="line18">
                <a class="acs18" href="">Gold</a>
                <p>(8 items)</p>
            </div>
        </div>
        <div class="coln19">
            <img class="imgc19" src="https://minimalin-demo.myshopify.com/cdn/shop/collections/collection-banner-_36_600x.png?v=1708660908" alt="">
            <div class="line19">
                <a class="acs19" href="">Headphone</a>
                <p>(1 items)</p>
            </div>
        </div>
        <div class="coln20">
            <img class="imgc20" src="https://minimalin-demo.myshopify.com/cdn/shop/collections/collection-banner_29_600x.png?v=1694264555" alt="">
            <div class="line20">
                <a class="acs20" href="">Kid (T shirt)</a>
                <p>(3 items)</p>
            </div>
        </div>
        <div class="coln21">
            <img class="imgc21" src="https://minimalin-demo.myshopify.com/cdn/shop/collections/collection-banner-_32_600x.png?v=1697898683" alt="">
            <div class="line21">
                <a class="acs21" href="">Kids</a>
                <p>(9 items)</p>
            </div>
        </div>
        <div class="coln22">
            <img class="imgc22" src="https://minimalin-demo.myshopify.com/cdn/shop/collections/collection-banner_4_600x.png?v=1692607334" alt="">
            <div class="line22">
                <a class="acs22" href="">Men</a>
                <p>(14 items)</p>
            </div>
        </div>
        <div class="coln23">
            <img class="imgc23" src="https://minimalin-demo.myshopify.com/cdn/shop/collections/collection-banner_26_600x.png?v=1694194080" alt="">
            <div class="line23">
                <a class="acs23" href="">Men (T Shirt)</a>
                <p>(3 items)</p>
            </div>
        </div>
        <div class="coln24">
            <img class="imgc24" src="https://minimalin-demo.myshopify.com/cdn/shop/collections/collection-banner_24_600x.png?v=1693504048" alt="">
            <div class="line24">
                <a class="acs24" href="">Necklaces</a>
                <p>(3 items)</p>
            </div>
        </div>
        <div class="coln25">
            <img class="imgc25" src="https://minimalin-demo.myshopify.com/cdn/shop/files/men-large-tshirt_4_600x.png?v=1693323021" alt="">
            <div class="line25">
                <a class="acs25" href="">New (Fashion)</a>
                <p>(17 items)</p>
            </div>
        </div>
        <div class="coln26">
            <img class="imgc26" src="https://minimalin-demo.myshopify.com/cdn/shop/collections/collection-banner_1_600x.png?v=1692616267" alt="">
            <div class="line26">
                <a class="acs26" href="">New Arrivals</a>
                <p>(68 items)</p>
            </div>
        </div>
        <div class="coln27">
            <img class="imgc27" src="https://minimalin-demo.myshopify.com/cdn/shop/files/e1_39_600x.png?v=1708948259" alt="">
            <div class="line27">
                <a class="acs27" href="">New Arrivals(Electronic)</a>
                <p>(6 items)</p>
            </div>
        </div>
        <div class="coln28">
            <img class="imgc28" src="https://minimalin-demo.myshopify.com/cdn/shop/files/hand-ring_4_600x.png?v=1692208184" alt="">
            <div class="line28">
                <a class="acs28" href="">On-Selling (Jewelry)</a>
                <p>(4 items)</p>
            </div>
        </div>
        <div class="coln29">
            <img class="imgc29" src="https://minimalin-demo.myshopify.com/cdn/shop/collections/collection-banner_21_600x.png?v=1693502358" alt="">
            <div class="line29">
                <a class="acs29" href="">Rings</a>
                <p>(5 items)</p>
            </div>
        </div>
        <div class="coln30">
            <img class="imgc30" src="https://minimalin-demo.myshopify.com/cdn/shop/files/shirt_1_600x.png?v=1692372496" alt="">
            <div class="line30">
                <a class="acs30" href="">Sale</a>
                <p>(37 items)</p>
            </div>
        </div>
        <div class="coln31">
            <img class="imgc31" src="https://minimalin-demo.myshopify.com/cdn/shop/files/silver-dimond-ring_1_600x.png?v=1693662056" alt="">
            <div class="line31">
                <a class="acs31" href="">Silver</a>
                <p>(9 items)</p>
            </div>
        </div>
        <div class="coln32">
            <img class="imgc32" src="https://minimalin-demo.myshopify.com/cdn/shop/collections/collection-banner-_37_600x.png?v=1708662281" alt="">
            <div class="line32">
                <a class="acs32" href="">Smartphone</a>
                <p>(1 items)</p>
            </div>
        </div>
        <div class="coln33">
            <img class="imgc33" src="https://minimalin-demo.myshopify.com/cdn/shop/collections/collection-banner_31_600x.png?v=1695134414" alt="">
            <div class="line33">
                <a class="acs33" href="">Smartwatch</a>
                <p>(5 items)</p>
            </div>
        </div>
        <div class="coln34">
            <img class="imgc34" src="https://minimalin-demo.myshopify.com/cdn/shop/collections/collection-banner_15_600x.png?v=1692617739" alt="">
            <div class="line34">
                <a class="acs34" href="">Summer Styles</a>
                <p>(30 items)</p>
            </div>
        </div>
        <div class="coln35">
            <img class="imgc35" src="https://minimalin-demo.myshopify.com/cdn/shop/files/shirt_1_600x.png?v=1692372496" alt="">
            <div class="line35">
                <a class="acs35" href="">Top Rated</a>
                <p>(16 items)</p>
            </div>
        </div>
        <div class="coln36">
            <img class="imgc36" src="https://minimalin-demo.myshopify.com/cdn/shop/files/silver-rign_1_600x.png?v=1693308117" alt="">
            <div class="line36">
                <a class="acs36" href="">Top Rated (Jewelry)</a>
                <p>(7 items)</p>
            </div>
        </div>
        <div class="coln37">
            <img class="imgc37" src="https://minimalin-demo.myshopify.com/cdn/shop/collections/collection-banner_6_600x.png?v=1697897515" alt="">
            <div class="line37">
                <a class="acs37" href="">Trending</a>
                <p>(6 items)</p>
            </div>
        </div>
        <div class="coln38">
            <img class="imgc38" src="https://minimalin-demo.myshopify.com/cdn/shop/collections/collection-banner_19_600x.png?v=1692619758" alt="">
            <div class="line38">
                <a class="acs38" href="">Winter Fashion</a>
                <p>(6 items)</p>
            </div>
        </div>
        <div class="coln9">
            <img class="imgc39" src="https://minimalin-demo.myshopify.com/cdn/shop/collections/collection-banner_10_600x.png?v=1692607375" alt="">
            <div class="line39">
                <a class="acs39" href="">women</a>
                <p>(20 items)</p>
            </div>
        </div>
        <div class="coln40">
            <img class="imgc40" src="https://minimalin-demo.myshopify.com/cdn/shop/collections/collection-banner_27_600x.png?v=1694194498" alt="">
            <div class="line40">
                <a class="acs40" href="">Women (T Shirt)</a>
                <p>(3 items)</p>
            </div>
        </div>
        
      
    </div>
    <div class="details3">
        <div class="details23">
          <div class="aboutus3">
            <h2 class="us3">About Us.</h2>
            <p class="mini3"> Minimal E-Commerce is a dynamic and innovative online retail platform that offers a wide range of products to customers worldwide.</p>
            <div class="ic3">
              <p class="ic133"><i class="fa-brands fa-facebook-f"></i></p>
              <p class="ic234"><i class="fa-brands fa-twitter"></i> </p>
              <p class="ic335"> <i class="fa-brands fa-youtube"></i></p>
              <p class="ic436"><i class="fa-brands fa-instagram"></i></p>
              <p class="ic537"> <i class="fa-brands fa-tiktok"></i></p>
            </div>
            <p class="safe3">Guranted safe checkout</p>
            <div>
                <img class="amz1" src="https://minimalin-demo.myshopify.com/cdn/shopifycloud/shopify/assets/payment_icons/amazon-92e856f82cae5a564cd0f70457f11af4d58fa037cf6e5ab7adf76f6fd3b9cafe.svg" alt="">
                <img class="amz1" src="https://minimalin-demo.myshopify.com/cdn/shopifycloud/shopify/assets/payment_icons/apple_pay-f6db0077dc7c325b436ecbdcf254239100b35b70b1663bc7523d7c424901fa09.svg" alt="">
                <img class="amz1" src="https://minimalin-demo.myshopify.com/cdn/shopifycloud/shopify/assets/payment_icons/bitcoin-e41278677541fc32b8d2e7fa41e61aaab2935151a6048a1d8d341162f5b93a0a.svg" alt="">
                <img class="amz1" src="https://minimalin-demo.myshopify.com/cdn/shopifycloud/shopify/assets/payment_icons/google_pay-c66a29c63facf2053bf69352982c958e9675cabea4f2f7ccec08d169d1856b31.svg" alt="">
                <img class="amz1" src="https://minimalin-demo.myshopify.com/cdn/shopifycloud/shopify/assets/payment_icons/paypal-49e4c1e03244b6d2de0d270ca0d22dd15da6e92cc7266e93eb43762df5aa355d.svg" alt="">
                <img class="amz1" src="https://minimalin-demo.myshopify.com/cdn/shopifycloud/shopify/assets/payment_icons/visa-319d545c6fd255c9aad5eeaad21fd6f7f7b4fdbdb1a35ce83b89cca12a187f00.svg" alt="">
              </div>
          </div>
          <div class="cont3">
            <div class="quickmain3" >
                <div class="qq">
                    <h3>Quick link </h3>
                    <div class="arr">
                      <i class="fa-solid fa-chevron-down"></i>
    
                    </div>      
                   </div>
              <ul class="link3">
                <li>My Account</li>
                <li>My Cart</li>
                <li>Wishlist</li>
                <li>Gift Cart</li>
                <li>Need Help?</li>
              </ul>
            </div>
            <div class="infomain3">
                <div class="qq">
                    <h3>Information</h3>
                    <div class="arr">
                      <i class="fa-solid fa-chevron-down"></i>
    
                    </div>      
                   </div>
              <ul class="link3">
                <li>About Us</li>
                <li>Contact</li>
                <li>Blog</li>
                <li>Size Chart</li>
                <li>FAQ</li>
              </ul>
            </div>
            <div class="polimain3">
                <div class="qq">
                    <h3>Policies</h3>
                    <div class="arr">
                      <i class="fa-solid fa-chevron-down"></i>
    
                    </div>      
                   </div>
              <ul class="link3">
                <li>Privacy Policies</li>
                <li>Refund Policy</li>
                <li>Terms of Service</li>
                <li>Shipping Policy</li>
                <li>Contact Information</li>
              </ul>
            </div>
          </div>
      
      
        </div>
      
      </div>
     
</body>
</html>
