<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>Contact</title>
    <link rel="stylesheet" href="./contact.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <div class="head45">
        <nav class="home45">  
          <div class="hide"><i class="fa-solid fa-bars"></i></div>
            <img class="logo45" src="./logo/logo.jpg" alt="">
            <ul class="ul145">
                <li><a class="its345" href="../../mens.html"> Home <i class="helo24 fa-solid fa-caret-down"></i> </a></li>
                <li><a class="its1345" href="../shop/shop.html"> Shop<i class="helo25 fa-solid fa-caret-down"></i><button class="new45"><h6>New</h6></button></a></li>
                <li>  <a class="its2345" href="../categories/categories.html"> Categories <i class="helo26 fa-solid fa-caret-down"></i><button class="hot45"><h6>Hot</h6></button></a></li>
                <li><a class="its3345" href="../product/product.html"> Product<i class="helo27 fa-solid fa-caret-down"></i></a></li>
                <li><a class="its4345" href="../blog/blog.html"> Blog<i class="helo28 fa-solid fa-caret-down"></i></a></li>
                <li><a class="its4345" href="../contact/contact.html"> Pages<i class="helo29 fa-solid fa-caret-down"></i></a></li>

            </ul>
            <div class="signup45"> 
                <a class="inr45" href="">IN (INR <i class="fa-solid fa-indian-rupee-sign"></i>)<i class="fa-solid fa-caret-down"></i></a>
                <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
                <a class="acc45" href=""> <i class="fa-regular fa-user"></i></a>
                <a class="cart45" href=""> <i class="fa-solid fa-cart-shopping"></i></a>
                </div>        
        </nav>

    </div>

    <div class="product34">
        <div class="prdmain34">
            <h1>Contact</h1>
            <ul>
                <li><a class="hm34" href="">Home</a></li>
                <li>></li>
                <li class="prd34">Contact</li>
            </ul>
        </div>
    </div>

    <div class="cnt1">
        <div class="cn1">
            <h2>Email Address</h2>
            <div>
                <p>example@example.com</p>
                <p>example2@example.com</p>
            </div>
        </div>
        <div class="cn2">
            <h2>Email Address</h2>
            <div>
                <p>example@example.com</p>
                <p>example2@example.com</p>
            </div>
        </div>
        <div class="cn3">
            <h2>Email Address</h2>
            <div>
                <p>example@example.com</p>
                <p>example2@example.com</p>
            </div>
        </div>
    </div>
    <div class="grr">
        <div class="last">
            <h2>Send Message</h2>
            <form class="gdd" action="">
                <input class="gdd1" type="text" placeholder="Enter your name">
                <input class="gdd2" type="email" placeholder="Enter email address">
                <input class="gdd3" type="text" placeholder="Enter your number">
                <input class="gdd4" type="text" placeholder="Enter Subject">
                <input class="gdd5"  type="text" placeholder="Enter message">
            </form>
            <button class="su">Submit</button>
        </div>
    </div>
<div class="map">
    <iframe class="map1" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14602.456783390806!2d90.421953!3d23.796749!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c73b127fc1b1%3A0xe22df7b475b79f8d!2sEmbassy%20of%20the%20United%20States%20of%20America!5e0!3m2!1sen!2sbd!4v1710265326022!5m2!1sen!2sbd" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<div class="details3456">
    <div class="details23456">
      <div class="aboutus3456">
        <h2 class="us3456">About Us.</h2>
        <p class="mini3456"> Minimal E-Commerce is a dynamic and innovative online retail platform that offers a wide range of products to customers worldwide.</p>
        <div class="ic3456">
          <p class="ic133456"><i class="fa-brands fa-facebook-f"></i></p>
          <p class="ic234456"><i class="fa-brands fa-twitter"></i> </p>
          <p class="ic335456"> <i class="fa-brands fa-youtube"></i></p>
          <p class="ic436456"><i class="fa-brands fa-instagram"></i></p>
          <p class="ic537456"> <i class="fa-brands fa-tiktok"></i></p>
        </div>
        <p class="safe3456">Guranted safe checkout</p>
        <div>
          <img class="amz156" src="https://minimalin-demo.myshopify.com/cdn/shopifycloud/shopify/assets/payment_icons/amazon-92e856f82cae5a564cd0f70457f11af4d58fa037cf6e5ab7adf76f6fd3b9cafe.svg" alt="">
          <img class="amz156" src="https://minimalin-demo.myshopify.com/cdn/shopifycloud/shopify/assets/payment_icons/apple_pay-f6db0077dc7c325b436ecbdcf254239100b35b70b1663bc7523d7c424901fa09.svg" alt="">
          <img class="amz156" src="https://minimalin-demo.myshopify.com/cdn/shopifycloud/shopify/assets/payment_icons/bitcoin-e41278677541fc32b8d2e7fa41e61aaab2935151a6048a1d8d341162f5b93a0a.svg" alt="">
          <img class="amz156" src="https://minimalin-demo.myshopify.com/cdn/shopifycloud/shopify/assets/payment_icons/google_pay-c66a29c63facf2053bf69352982c958e9675cabea4f2f7ccec08d169d1856b31.svg" alt="">
          <img class="amz156" src="https://minimalin-demo.myshopify.com/cdn/shopifycloud/shopify/assets/payment_icons/paypal-49e4c1e03244b6d2de0d270ca0d22dd15da6e92cc7266e93eb43762df5aa355d.svg" alt="">
          <img class="amz156" src="https://minimalin-demo.myshopify.com/cdn/shopifycloud/shopify/assets/payment_icons/visa-319d545c6fd255c9aad5eeaad21fd6f7f7b4fdbdb1a35ce83b89cca12a187f00.svg" alt="">
        </div>
      </div>
      <div class="cont3456">
        <div class="quickmain3456" >
          <div class="qq">
            <h3>Quick link </h3>
            <div class="arr">
              <i class="fa-solid fa-chevron-down"></i>

            </div>      
           </div>
          <ul class="link3456">
            <li>My Account</li>
            <li>My Cart</li>
            <li>Wishlist</li>
            <li>Gift Cart</li>
            <li>Need Help?</li>
          </ul>
        </div>
        <div class="infomain3456">
          <div class="qq">
            <h3>Information</h3>
            <div class="arr">
              <i class="fa-solid fa-chevron-down"></i>

            </div>      
           </div>
          <ul class="link3456">
            <li>About Us</li>
            <li>Contact</li>
            <li>Blog</li>
            <li>Size Chart</li>
            <li>FAQ</li>
          </ul>
        </div>
        <div class="polimain3456">
          <div class="qq">
            <h3>Policies</h3>
            <div class="arr">
              <i class="fa-solid fa-chevron-down"></i>

            </div>      
           </div>
          <ul class="link3456">
            <li>Privacy Policies</li>
            <li>Refund Policy</li>
            <li>Terms of Service</li>
            <li>Shipping Policy</li>
            <li>Contact Information</li>
          </ul>
        </div>
      </div>
  
  
    </div>
  
  </div>
</body>
</html>
