<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Blog</title>
    <link rel="stylesheet" href="./blog.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <div class="head3">
        <nav class="home3">
          <div class="hide"><i class="fa-solid fa-bars"></i></div>  
            <img class="logo3" src="./logo/logo.jpg" alt="">
            <ul class="ul13">
                <li><a class="its3" href="../../mens.html"> Home<i class="helo18 fa-solid fa-caret-down"></i> </a></li>
                <li><a class="its13" href="../shop/shop.html"> Shop<i class="helo19 fa-solid fa-caret-down"></i><button class="new3"><h6>New</h6></button></a></li>
                <li>  <a class="its23" href="../categories/categories.html"> Categories <i class="helo20 fa-solid fa-caret-down"></i><button class="hot3"><h6>Hot</h6></button></a></li>
                <li><a class="its33" href="../product/product.html"> Product<i class="helo21 fa-solid fa-caret-down"></i></a></li>
                <li><a class="its43" href="../blog/blog.html"> Blog<i class="helo22 fa-solid fa-caret-down"></i></a></li>
                <li><a class="its43" href="../contact/contact.html"> Pages<i class="helo23 fa-solid fa-caret-down"></i></a></li>

            </ul>
            <div class="signup3"> 
                <a class="inr3" href="">IN (INR <i class="fa-solid fa-indian-rupee-sign"></i>)<i class="fa-solid fa-caret-down"></i></a>
                <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
                <a class="acc3" href=""> <i class="fa-regular fa-user"></i></a>
                <a class="cart3" href=""> <i class="fa-solid fa-cart-shopping"></i></a>
                </div>        
        </nav>

    </div>

    <div class="product3">
        <div class="prdmain3">
            <h1>News</h1>
            <ul>
                <li><a class="hm3" href="">Home</a></li>
                <li>></li>
                <li class="prd3">News</li>
            </ul>
        </div>
    </div>
    
    <div  class="blogmain">
        <div class="bmain2">
            <div class="sea">
                <h3>Search</h3>
                <form action="">
                    <input class="srch" type="search" placeholder="Search Our Store">
                    <button class="srch2"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <div class="recent">
                <h3 class="rect1">Recent Post</h3>
                <div class="rt1">
                    <img class="pt1" src="https://minimalin-demo.myshopify.com/cdn/shop/articles/blog-1_100x.jpg?v=1690981937" alt="">
                    <div class="fl1">
                        <p>The Art of Layering:C...</p>
                        
                        <p class="dat"><span class="cr1"><i class="fa-regular fa-calendar-days"></i></span>Aug 01, 2003</p>
                    </div>

                </div>
                <div class="rt2">
                    <img class="pt2" src="https://minimalin-demo.myshopify.com/cdn/shop/articles/blog-2_100x.jpg?v=1690982050" alt="">
                    <div class="fl2">
                        <p>A Glimbse into MEn's...</p>
                        <p class="dat2"><span class="cr2"><i class="fa-regular fa-calendar-days"></i></span>Aug 01, 2003</p>
                    </div>

                </div>
                <div class="rt3">
                    <img class="pt3" src="https://minimalin-demo.myshopify.com/cdn/shop/articles/blog-3_100x.jpg?v=1690982279   " alt="">
                    <div class="fl3">
                        <p>Fashion Dos and Dos..</p>
                        <p class="dat3"><span class="cr3"><i class="fa-regular fa-calendar-days"></i></span>Aug 01, 2003</p>
                    </div>
                    
                </div>
            </div>
            <div class="tags">
                <h3>Tags</h3>
                <div class="tbut">
                    <button>Accessories</button>
                    <button>Dress</button>
                    <button>Fashion</button>
                    <button>Men</button>
                    <button>Spring</button>  
                    <button>Winter</button>  
                    <button>Women</button>  
                    
                </div>
            </div>
            <div class="news">
                <h2>Never Miss News</h2>
                <div class="ccmain">
                    <button class="cc1"><i class="fa-brands fa-facebook-f"></i></button>
                    <button class="cc2"><i class="fa-brands fa-twitter"></i> </button>
                    <button class="cc3"> <i class="fa-brands fa-youtube"></i></button>
                    <button class="cc4"><i class="fa-brands fa-instagram"></i></button>
                    <button class="cc5"> <i class="fa-brands fa-tiktok"></i></button>
                </div>

            </div>

        </div>

        <div class="bmain3">
            <div class="bimg1">
                <img class="imgbl1" src="https://minimalin-demo.myshopify.com/cdn/shop/articles/blog-1_1200x.jpg?v=1690981937" alt="">
               <div class="bg">
                 <div class="cot1">
                    <p><span><i class="fa-regular fa-calendar-days"></i></span> August 01, 2023</p>
                    <p><i class="fa-solid fa-comment"></i> 2 Comments</p>
                 </div>
                 <h4 class="hd1">The Art Of Layering: Creating Stylish and Functional Outfits</h4>
                 <a class="more1" href="">Read more</a>
               </div>
            </div>
            <div class="bimg2">
                <img class="imgbl2" src="https://minimalin-demo.myshopify.com/cdn/shop/articles/blog-2_1200x.jpg?v=1690982050" alt="">
               <div class="bg2">
                 <div class="cot2">
                    <p><span><i class="fa-regular fa-calendar-days"></i></span> August 01, 2023</p>
                    <p><i class="fa-solid fa-comment"></i> 0 Comments</p>
                 </div>
                 <h4 class="hd2">A Glimpse into Men's Fashion Trends: What's Hot and What's Not</h4>
                 <a class="more2" href="">Read more</a>
               </div>
            </div>
            <div class="bimg3">
                <img class="imgbl3" src="https://minimalin-demo.myshopify.com/cdn/shop/articles/blog-3_1200x.jpg?v=1690982279" alt="">
               <div class="bg3">
                 <div class="cot3">
                    <p><span><i class="fa-regular fa-calendar-days"></i></span> August 01, 2023</p>
                    <p><i class="fa-solid fa-comment"></i> 0 Comments</p>
                 </div>
                 <h4 class="hd3">Fashion Dos and Don's Every Woman Should Know That</h4>
                 <a class="more3" href="">Read more</a>
               </div>
            </div>
            <div class="bimg4">
                <img class="imgbl4" src="https://minimalin-demo.myshopify.com/cdn/shop/articles/blog-4_1200x.jpg?v=1690983773" alt="">
               <div class="bg4">
                 <div class="cot4">
                    <p><span><i class="fa-regular fa-calendar-days"></i></span> August 01, 2023</p>
                    <p><i class="fa-solid fa-comment"></i> 0 Comments</p>
                 </div>
                 <h4 class="hd4">Dressing to Impress: Men's Fashion for Special Occassions</h4>
                 <a class="more4" href="">Read more</a>
               </div>
            </div>
            <div class="bimg5">
                <img class="imgbl5" src="https://minimalin-demo.myshopify.com/cdn/shop/articles/blog-5_1200x.jpg?v=1690983790" alt="">
               <div class="bg5">
                 <div class="cot5">
                    <p><span><i class="fa-regular fa-calendar-days"></i></span> August 01, 2023</p>
                    <p><i class="fa-solid fa-comment"></i> 0 Comments</p>
                 </div>
                 <h4 class="hd5">The Best Affordable Fashion Brands for Women On a Budget</h4>
                 <a class="more5" href="">Read more</a>
               </div>
            </div>
            <div class="bimg6">
                <img class="imgbl6" src=https://minimalin-demo.myshopify.com/cdn/shop/articles/blog-6_1200x.jpg?v=1690983806"" alt="">
               <div class="bg6">
                 <div class="cot6">
                    <p><span><i class="fa-regular fa-calendar-days"></i></span> August 01, 2023</p>
                    <p><i class="fa-solid fa-comment"></i> 0 Comments</p>
                 </div>
                 <h4 class="hd6">Essential Wardable Staples for Every Stylish Man</h4>
                 <a class="more6" href="">Read more</a>
               </div>
            </div>
            <div class="bimg7">
                <img class="imgbl7" src="https://minimalin-demo.myshopify.com/cdn/shop/articles/blog-7_1200x.jpg?v=1690983828" alt="">
               <div class="bg7">
                 <div class="cot7">
                    <p><span><i class="fa-regular fa-calendar-days"></i></span> August 01, 2023</p>
                    <p><i class="fa-solid fa-comment"></i> 0 Comments</p>
                 </div>
                 <h4 class="hd7">Influential Women in the Fashion Industry</h4>
                 <a class="more7" href="">Read more</a>
               </div>
            </div>
            <div class="bimg8">
                <img class="imgbl8" src="https://minimalin-demo.myshopify.com/cdn/shop/articles/blog-8_1200x.jpg?v=1690983857" alt="">
               <div class="bg8">
                 <div class="cot8">
                    <p><span><i class="fa-regular fa-calendar-days"></i></span> August 01, 2023</p>
                    <p><i class="fa-solid fa-comment"></i> 0 Comments</p>
                 </div>
                 <h4 class="hd8">How to Build a Versatile Capsule Wardrobe for Men</h4>
                 <a class="more8" href="">Read more</a>
               </div>
            </div>

        </div>

    </div>

    <div class="lett">
        
            <h2>Newsletter</h2>
            <p>Learn about our latest news,updates and deals by subscribing.</p>
           <form class="box" action="">
            <input  class="mail" type="search" placeholder="email@example.com">
            <button>Subscribe</button>
        </form> 
            
        
    </div>

    <div class="details34">
        <div class="details234">
          <div class="aboutus34">
            <h2 class="us34">About Us.</h2>
            <p class="mini34"> Minimal E-Commerce is a dynamic and innovative online retail platform that offers a wide range of products to customers worldwide.</p>
            <div class="ic34">
              <p class="ic1334"><i class="fa-brands fa-facebook-f"></i></p>
              <p class="ic2344"><i class="fa-brands fa-twitter"></i> </p>
              <p class="ic3354"> <i class="fa-brands fa-youtube"></i></p>
              <p class="ic4364"><i class="fa-brands fa-instagram"></i></p>
              <p class="ic5374"> <i class="fa-brands fa-tiktok"></i></p>
            </div>
            <p class="safe34">Guranted safe checkout</p>
            <div>
              <img class="amz1" src="https://minimalin-demo.myshopify.com/cdn/shopifycloud/shopify/assets/payment_icons/amazon-92e856f82cae5a564cd0f70457f11af4d58fa037cf6e5ab7adf76f6fd3b9cafe.svg" alt="">
              <img class="amz1" src="https://minimalin-demo.myshopify.com/cdn/shopifycloud/shopify/assets/payment_icons/apple_pay-f6db0077dc7c325b436ecbdcf254239100b35b70b1663bc7523d7c424901fa09.svg" alt="">
              <img class="amz1" src="https://minimalin-demo.myshopify.com/cdn/shopifycloud/shopify/assets/payment_icons/bitcoin-e41278677541fc32b8d2e7fa41e61aaab2935151a6048a1d8d341162f5b93a0a.svg" alt="">
              <img class="amz1" src="https://minimalin-demo.myshopify.com/cdn/shopifycloud/shopify/assets/payment_icons/google_pay-c66a29c63facf2053bf69352982c958e9675cabea4f2f7ccec08d169d1856b31.svg" alt="">
              <img class="amz1" src="https://minimalin-demo.myshopify.com/cdn/shopifycloud/shopify/assets/payment_icons/paypal-49e4c1e03244b6d2de0d270ca0d22dd15da6e92cc7266e93eb43762df5aa355d.svg" alt="">
              <img class="amz1" src="https://minimalin-demo.myshopify.com/cdn/shopifycloud/shopify/assets/payment_icons/visa-319d545c6fd255c9aad5eeaad21fd6f7f7b4fdbdb1a35ce83b89cca12a187f00.svg" alt="">
            </div>
          </div>
          <div class="cont34">
            <div class="quickmain34" >
              <div class="qq">
                <h3>Quick link </h3>
                <div class="arr">
                  <i class="fa-solid fa-chevron-down"></i>

                </div>      
               </div>
              <ul class="link34">
                <li>My Account</li>
                <li>My Cart</li>
                <li>Wishlist</li>
                <li>Gift Cart</li>
                <li>Need Help?</li>
              </ul>
            </div>
            <div class="infomain34">
              <div class="qq">
                <h3>Information</h3>
                <div class="arr">
                  <i class="fa-solid fa-chevron-down"></i>

                </div>      
               </div>
              <ul class="link34">
                <li>About Us</li>
                <li>Contact</li>
                <li>Blog</li>
                <li>Size Chart</li>
                <li>FAQ</li>
              </ul>
            </div>
            <div class="polimain34">
              <div class="qq">
                <h3>Policies</h3>
                <div class="arr">
                  <i class="fa-solid fa-chevron-down"></i>

                </div>      
               </div>
              <ul class="link34">
                <li>Privacy Policies</li>
                <li>Refund Policy</li>
                <li>Terms of Service</li>
                <li>Shipping Policy</li>
                <li>Contact Information</li>
              </ul>
            </div>
          </div>
      
      
        </div>
      
      </div>
</body>
</html>
