<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Products</title>
    <link rel="stylesheet" href="./product.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="head4">
        <nav class="home4">  
          <div class="hide"><i class="fa-solid fa-bars"></i></div>
            <img class="logo4" src="./logo/logo.jpg" alt="">
            <ul class="ul14">
                <li><a class="its34" href="../../mens.html"> Home <i class="helo24 fa-solid fa-caret-down"></i> </a></li>
                <li><a class="its134" href="../shop//shop.html"> Shop<i class="helo25 fa-solid fa-caret-down"></i><button class="new4"><h6>New</h6></button></a></li>
                <li>  <a class="its234" href="../categories//categories.html"> Categories <i class="helo26 fa-solid fa-caret-down"></i><button class="hot4"><h6>Hot</h6></button></a></li>
                <li><a class="its334" href="../product//product.html"> Product<i class="helo27 fa-solid fa-caret-down"></i></a></li>
                <li><a class="its434" href="../blog/blog.html"> Blog<i class="helo28 fa-solid fa-caret-down"></i></a></li>
                <li><a class="its434" href="../contact//contact.html"> Pages<i class="helo29 fa-solid fa-caret-down"></i></a></li>

            </ul>
            <div class="signup4"> 
                <a class="inr4" href="">IN (INR <i class="fa-solid fa-indian-rupee-sign"></i>)<i class="fa-solid fa-caret-down"></i></a>
                <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
                <a class="acc4" href=""> <i class="fa-regular fa-user"></i></a>
                <a class="cart4" href=""> <i class="fa-solid fa-cart-shopping"></i></a>
                </div>        
        </nav>

    </div>

    <div class="shmain">
        <div class="shmain2">
            <div class="shoe">
                <img class="shoe1" src="https://minimalin-demo.myshopify.com/cdn/shop/files/blueshoe_1_1024x1024.png?v=1692116385" alt="">
                <button class="nw">New</button>
            </div>
            <div class="shoe3">
                <img class="sh1" src="https://minimalin-demo.myshopify.com/cdn/shop/files/blueshoe_1_x110@2x.png?v=1692116385" alt="">
                <img class="sh2" src="https://minimalin-demo.myshopify.com/cdn/shop/files/preview_images/6ca2b1ffd6b4458081ab27c846258cdf.thumbnail.0000000000_x110@2x.jpg?v=1692625873" alt="">
                <img class="sh3" src="https://minimalin-demo.myshopify.com/cdn/shop/files/blueshoe_2_x110@2x.png?v=1692626014" alt="">
                <img class="sh4" src="https://minimalin-demo.myshopify.com/cdn/shop/files/blueshoe_3_x110@2x.png?v=1692626014" alt="">
            </div>
        </div>
        
        <div class="shmain3">
            <div class="shr1">
                <h3>B. Pair of Blue Shoes</h3>
                <h2>Rs. 6,800.00</h2>
            </div>
            <div class="shr2">
               <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            </div>
            <div class="shr3">
                <p><i class="fa-solid fa-eye"></i> 18 people are viewing this right now.</p>
            </div>
            <div class="shr4">
                <ul>
                    <li class="l1"><h3 class="sn1">Availability:</h3> <span class="s1">17 left in stock</span> </li>
                    <li class="l2"><h3 class="sn2">SKU:</h3>1110</li>
                    <li class="l3"><h3 class="sn3">Vendor:</h3> VendorB</li>
                    <li class="l4"><h3 class="sn4">Type:</h3>TypeB</li>
                </ul>
            </div>
            <div class="shr5">
                <ul>
                    <li class="l5">Size :
                        <button class="m"><span>M</span></button>
                        <button>L</button>
                        <button>XL</button>
                        <button>XXL</button>
                    </li>
                    <li class="l6">Color:
                        <button class="b1"></button>
                        <button class="b2"></button>
                        <button class="b3"></button>
                        <button class="b4"></button>
                        <button class="b5"></button>
                       
                    </li>
                </ul>
            </div>
            <div class="shr6">
             <div class="bmain">
                <div class="bn1">
                    <table class="table">
                        <tr>
                            <td>-</td>
                            <td>1</td>
                            <td>+</td>
                        </tr>
                    </table>
                </div>
                <div class="bn2">
                    <button class="bo"><i class="fa-solid fa-cart-shopping"></i>Add to cart</button>
                </div>
                <div>
                    <button class="bo2">Buy It Now</button>
                </div>
             </div>
             <div class="bmain2">
                <p><i class="fa-regular fa-heart"></i>Add to Wishlist</p>
                <p><i class="fas fa-exchange-alt"></i>Compare</p>
                <p><i class="far fa-envelope"></i>Ask a Question</p>
                <p><i class="far fa-chart-bar"></i>Size chart</p>
             </div>
            </div>
            <div class="shr7">
                <h4><i class="fa-solid fa-truck"></i> Estimated Delivery Date: 12-13 March,2024.</h4>
                <h2>Return rules summary</h2>
                <ul class="r1">
                    <li>Return accepted for 30 days</li>
                    <li>Free return shipping</li>
                    <li>No restocking fee</li>
                    <li>No final sale items</li>
                </ul>
            </div>
            <div class="shr8">
                <h2>Guaranteed safe checkout</h2>
                <div>
                    <img class="amz1" src="https://minimalin-demo.myshopify.com/cdn/shopifycloud/shopify/assets/payment_icons/amazon-92e856f82cae5a564cd0f70457f11af4d58fa037cf6e5ab7adf76f6fd3b9cafe.svg" alt="">
                    <img class="amz1" src="https://minimalin-demo.myshopify.com/cdn/shopifycloud/shopify/assets/payment_icons/apple_pay-f6db0077dc7c325b436ecbdcf254239100b35b70b1663bc7523d7c424901fa09.svg" alt="">
                    <img class="amz1" src="https://minimalin-demo.myshopify.com/cdn/shopifycloud/shopify/assets/payment_icons/bitcoin-e41278677541fc32b8d2e7fa41e61aaab2935151a6048a1d8d341162f5b93a0a.svg" alt="">
                    <img class="amz1" src="https://minimalin-demo.myshopify.com/cdn/shopifycloud/shopify/assets/payment_icons/google_pay-c66a29c63facf2053bf69352982c958e9675cabea4f2f7ccec08d169d1856b31.svg" alt="">
                    <img class="amz1" src="https://minimalin-demo.myshopify.com/cdn/shopifycloud/shopify/assets/payment_icons/paypal-49e4c1e03244b6d2de0d270ca0d22dd15da6e92cc7266e93eb43762df5aa355d.svg" alt="">
                    <img class="amz1" src="https://minimalin-demo.myshopify.com/cdn/shopifycloud/shopify/assets/payment_icons/visa-319d545c6fd255c9aad5eeaad21fd6f7f7b4fdbdb1a35ce83b89cca12a187f00.svg" alt="">
                  </div>
            </div>

            <div class="shr9">
                <p class="wl">Pairs well with</p>
                <div class="min1">
                   <div class="fe1">
                    <img class="im1" src="https://cdn.shopify.com/s/files/1/1522/7938/files/ment-shirt_1_600x.png?v=1692120651" alt="">
                    <p class="pg1">E. Casual comfor..</p>
                    <p class="pg1">Rs.3,300.00</p>
                   </div>
                   <div class="fe2">
                    <img class="im2" src="https://cdn.shopify.com/s/files/1/1522/7938/files/watch_600x.png?v=1692459788" alt="">
                    <p class="pg2">F. Ultimate smart...</p>
                    <p class="pg2"><del>Rs.6,300.00</del><span class="sp1">Rs.4,700.00</span></p>
                   </div>
                
                
                   <div class="fe3">
                    <img class="im3" src="https://cdn.shopify.com/s/files/1/1522/7938/files/sunglass_1_600x.png?v=1692115588" alt="">
                    <p class="pg3">E. Casual comfor..</p>
                    <p class="pg3"><del>Rs.11,000.00</del><span class="sp1">Rs.9,300.00 </span></p>
                   </div>
                </div>
                </div>
                <div class="shr10">
                    <p>Share:</p>
                    <ul class="ftp">
                        <li><i class="fa-brands fa-facebook-f"></i> Facebook</li>
                        <li><i class="fa-brands fa-twitter"></i> Twitter</li>
                        <li><i class="fa-brands fa-pinterest"></i> Pinterest</li>
                    </ul>
                </div>

            </div>

        </div>
        <div class="drs">
            <h3 class="dsp">Description</h3>
            <h3>Reviews</h3>
            <h3>Shipping Policy</h3>
        </div>
        <div class="con">
            <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            </p>
            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
            <p>
                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
            </p>
        </div>
         <div class="featured2">
        <p class="feat2">Related Products</p>
      </div>

<div class="featmain2">
  
    
     <div class="hover92">
      <div class="it92">
        <img class="prd92" src="https://minimalin-demo.myshopify.com/cdn/shop/files/heighheel_1_x110@2x.png?v=1692201238" alt="">
        <button class="off92">-27%</button>
        <div class="rate92"><h3 >H. Women High Heel</h3>
         <div class="del92"> <del>Rs.5100.00</del><span class="rupe92"> Rs.3300.00</span></div>
        </div>
        <div class="colr92">
          <button class="colors902"></button>
          <button class="colors912"></button>
          <button class="colors922"></button>
          <button class="colors932"></button>
          <button class="colors942">+1</button>
        </div>
     </div>
     <div class="coin92">
      <img class="dress92" src="https://minimalin-demo.myshopify.com/cdn/shop/files/heighheel_2_x110@2x.png?v=1692201238" alt="">
      <div class="cash92">
        <button class="ico332"><i class="fa-solid fa-eye"></i></button>
        <button class="ico342"><i class="fa-solid fa-cart-shopping"></i></button>
        <button class="ico352"><i class="fa-regular fa-heart"></i></button>
        <button class="ico362"><i class="fa-solid fa-arrow-right-arrow-left"></i></button>
      </div>

    </div>
     </div>


   <div class="hover102">
    <div class="it102">
      <img class="prd102" src="https://minimalin-demo.myshopify.com/cdn/shop/files/baby-and-kid-shoe_1_x110@2x.png?v=1692355726" alt="">
      <button class="off102">-25%</button>
      <div class="rate102"><h3 >R. Baby and Kid Shoe</h3>
      <div class="del102">  <del>Rs.6300.00</del><span class="rupe102"> Rs.4700.00</span></div>
      </div>
      <div class="colr102">
        <button class="colors1002"></button>
        <button class="colors1012"></button>
        <button class="colors1022"></button>
        <!-- <button class="colors1032"></button> -->
        <!-- <button class="colors1042">+3</button> -->
      </div>
   </div>
   <div class="coin102">
    <img class="dress102" src="https://minimalin-demo.myshopify.com/cdn/shop/files/baby-and-kid-shoe_2_x110@2x.png?v=1692355727" alt="">
    <div class="cash102">
      <button class="ico372"><i class="fa-solid fa-eye"></i></button>
      <button class="ico382"><i class="fa-solid fa-cart-shopping"></i></button>
      <button class="ico392"><i class="fa-regular fa-heart"></i></button>
      <button class="ico402"><i class="fa-solid fa-arrow-right-arrow-left"></i></button>
    </div>

  </div>

   </div>

<div class="hover112">
  <div class="it112">
    <img class="prd112" src="https://minimalin-demo.myshopify.com/cdn/shop/files/shirt_1_x110@2x.png?v=1692372496" alt="">
    <button class="off112">-11%</button>
    <div class="rate112"><h3 >W. Men Formal Tshirt</h3>
     <div class="del112"> <del>Rs.1800.00</del><span class="rupe112"> Rs.1600.00</span></div>
    </div>
    <div class="colr112">
      <button class="colors1102"></button>
      <button class="colors1112"></button>
      <button class="colors1122"></button>
      <!-- <button class="colors113"></button> -->
      <!-- <button class="colors114">+1</button> -->
    </div>
 </div>
 <div class="coin112">
  <img class="dress112" src="https://minimalin-demo.myshopify.com/cdn/shop/files/shirt_2_x110@2x.png?v=1692372496" alt="">
  <div class="cash112">
    <button class="ico412"><i class="fa-solid fa-eye"></i></button>
    <button class="ico422"><i class="fa-solid fa-cart-shopping"></i></button>
    <button class="ico432"><i class="fa-regular fa-heart"></i></button>
    <button class="ico442"><i class="fa-solid fa-arrow-right-arrow-left"></i></button>
  </div>

</div>
</div>


<div class="hover122">

  <div class="it122">
    <img class="prd122" src="https://minimalin-demo.myshopify.com/cdn/shop/files/watch_x110@2x.png?v=1692459788" alt="">
    <button class="off122">-25%</button>
    <div class="rate122"><h3>F. Ultimate Smart Watch</h3>
    <div class="del122">  <del>Rs.6300.00</del><span class="rupe122"> Rs.4700.00</span></div>
    </div>
    <div class="colr122">
      <button class="colors1202"></button>
      <button class="colors1212"></button>
      <button class="colors1222"></button>
      <button class="colors1232"></button>
      <button class="colors1242">+3</button>
    </div>
      </div>
      <div class="coin122">
        <img class="dress122" src="https://minimalin-demo.myshopify.com/cdn/shop/files/watch_1_x110@2x.png?v=1692459788" alt="">
        <div class="cash122">
          <button class="ico452"><i class="fa-solid fa-eye"></i></button>
          <button class="ico462"><i class="fa-solid fa-cart-shopping"></i></button>
          <button class="ico472"><i class="fa-regular fa-heart"></i></button>
          <button class="ico482"><i class="fa-solid fa-arrow-right-arrow-left"></i></button>
        </div>
    </div>  
</div>
</div>
<div class="vd">
    <h2>Recently Viewed</h2>
</div>
<div class="collmainn">
    <div class="coln1n">
        <img class="imgc1n" src="https://cdn.shopify.com/s/files/1/1522/7938/files/shirt_1_large.png?v=1692372496" alt="">
        <div class="linen">
            <a class="acsn" href="">W. Men Formal Tshirt </a>
            <p><del>Rs.1800.00</del><span>Rs.1600.00</span></p>
        </div>
    </div>
    <div class="coln2n">
        <img class="imgc2n" src="https://cdn.shopify.com/s/files/1/1522/7938/files/blueshoe_1_large.png?v=1692116385" alt="">
        <div class="line2n">
            <a class="acs2n" href="">B. Pair of Blue Shoes</a>
            <p>Rs.6800.00</p>
        </div>
    </div>
    <div class="coln3n">
        <img class="imgc3n" src="https://cdn.shopify.com/s/files/1/1522/7938/files/watch_large.png?v=1692459788" alt="">
        <div class="line3n">
            <a class="acs3n" href="">F. Ultimate Smart Watch</a>
            <p><del>Rs.1800.00</del><span class="bl1">Rs.1600.00</span></p>
        </div>
    </div>
  
    <div class="coln4n">
        <img class="imgc4n" src="https://cdn.shopify.com/s/files/1/1522/7938/files/baby-and-kid-shoe_1_large.png?v=1692355726" alt="">
        <div class="line4n">
            <a class="acs4n" href="">R. Baby and Kid Shoe</a>
            <p><del>Rs.6300.00</del><span class="bl2">Rs.4700.00</span></p>
        </div>
    </div>
</div>
<div class="fa">
    <h1>FAQs</h1>
</div>
<div >
    <div class="btt">
            <h3>How to buy a product?</h3>
            <button>+</button>
    </div>
    <div class="btt2">
        <h3>How can i make refund from your website?</h3>
        <button>+</button>
    </div>
    <div class="btt3">
        <h3>I am a new user. How should I start?</h3>
        <button>+</button>
    </div>
    <div class="btt4">
        <h3>Are my details secured?</h3>
        <button>+</button>
    </div>
    <div class="btt5">
        <h3>How do I make payment by my credit card?</h3>
        <button>+</button>
    </div>
   
</div>

<div class="us2">
    <h1>For furthermore help, contact with our support team.</h1>
    <button>Contact us</button>
    <h3> <i class="fas fa-phone"></i>+0123-456-789</h3>
</div>
<div class="details345">
    <div class="details2345">
      <div class="aboutus345">
        <h2 class="us345">About Us.</h2>
        <p class="mini345"> Minimal E-Commerce is a dynamic and innovative online retail platform that offers a wide range of products to customers worldwide.</p>
        <div class="ic345">
          <p class="ic13345"><i class="fa-brands fa-facebook-f"></i></p>
          <p class="ic23445"><i class="fa-brands fa-twitter"></i> </p>
          <p class="ic33545"> <i class="fa-brands fa-youtube"></i></p>
          <p class="ic43645"><i class="fa-brands fa-instagram"></i></p>
          <p class="ic53745"> <i class="fa-brands fa-tiktok"></i></p>
        </div>
        <p class="safe345">Guranted safe checkout</p>
        <div>
          <img class="amz15" src="https://minimalin-demo.myshopify.com/cdn/shopifycloud/shopify/assets/payment_icons/amazon-92e856f82cae5a564cd0f70457f11af4d58fa037cf6e5ab7adf76f6fd3b9cafe.svg" alt="">
          <img class="amz15" src="https://minimalin-demo.myshopify.com/cdn/shopifycloud/shopify/assets/payment_icons/apple_pay-f6db0077dc7c325b436ecbdcf254239100b35b70b1663bc7523d7c424901fa09.svg" alt="">
          <img class="amz15" src="https://minimalin-demo.myshopify.com/cdn/shopifycloud/shopify/assets/payment_icons/bitcoin-e41278677541fc32b8d2e7fa41e61aaab2935151a6048a1d8d341162f5b93a0a.svg" alt="">
          <img class="amz15" src="https://minimalin-demo.myshopify.com/cdn/shopifycloud/shopify/assets/payment_icons/google_pay-c66a29c63facf2053bf69352982c958e9675cabea4f2f7ccec08d169d1856b31.svg" alt="">
          <img class="amz15" src="https://minimalin-demo.myshopify.com/cdn/shopifycloud/shopify/assets/payment_icons/paypal-49e4c1e03244b6d2de0d270ca0d22dd15da6e92cc7266e93eb43762df5aa355d.svg" alt="">
          <img class="amz15" src="https://minimalin-demo.myshopify.com/cdn/shopifycloud/shopify/assets/payment_icons/visa-319d545c6fd255c9aad5eeaad21fd6f7f7b4fdbdb1a35ce83b89cca12a187f00.svg" alt="">
        </div>
      </div>
      <div class="cont345">
        <div class="quickmain345" >
          <div class="qq">
            <h3>Quick link </h3>
            <div class="arr">
              <i class="fa-solid fa-chevron-down"></i>
            </div>
            </div>
          <ul class="link345">
            <li>My Account</li>
            <li>My Cart</li>
            <li>Wishlist</li>
            <li>Gift Cart</li>
            <li>Need Help?</li>
          </ul>
        </div>
        <div class="infomain345">
          <div class="qq">
            <h3>Information</h3>
            <div class="arr">
              <i class="fa-solid fa-chevron-down"></i>
            </div>
            </div>
          <ul class="link345">
            <li>About Us</li>
            <li>Contact</li>
            <li>Blog</li>
            <li>Size Chart</li>
            <li>FAQ</li>
          </ul>
        </div>
        <div class="polimain345">
          <div class="qq">
            <h3>policies</h3>
            <div class="arr">
              <i class="fa-solid fa-chevron-down"></i>
            </div>
            </div>
          <ul class="link345">
            <li>Privacy Policies</li>
            <li>Refund Policy</li>
            <li>Terms of Service</li>
            <li>Shipping Policy</li>
            <li>Contact Information</li>
          </ul>
        </div>
      </div>
  
  
    </div>
  
  </div>
</body>
</html>
